class {{name}}Api
  include HTTParty

  {{#endpoints}}
  {{! Mustache template that renders an endpoint}}
  def {{name}}({{parameters}})
    self.class.{{method}}(
      {{formatted_url}},
      query: { {{query_hash}} },
      headers: { {{header_hash}} }
    )
  end
  {{/endpoint}}

end
